<div class="container-fluid">
<mat-card>
  <h3 class="mt-4">Register</h3>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" *ngIf="!isLoading">
    <mat-form-field class="name">
      <textarea matInput rows="2" formControlName="firstname" placeholder="First name"></textarea>
    </mat-form-field>
    <mat-form-field class="name ml-4">
      <textarea matInput rows="2" formControlName="lastname" placeholder="Last name"></textarea>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="2" formControlName="email" placeholder="Email address *"></textarea>
      <mat-error *ngIf="form.get('email').hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="form.get('email').hasError('myValidation')&&!form.get('email').hasError('required')">Invalid
        email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput formControlName="password" placeholder="Password *">
      <mat-error *ngIf="form.get('password').invalid">Password is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput formControlName="password_confirm" placeholder="Confirm Password*">
      <mat-error *ngIf="form.get('password_confirm').invalid">Confirm password is required</mat-error>
    </mat-form-field>
    <mat-error class= "mt-2" *ngIf="NotMatched">Passwords do not match</mat-error>
    <mat-error class= "mt-2" *ngIf="!isCreated&&!NotMatched&&form.valid">{{message}}</mat-error>
    <div>
    <button (click)="onSignUp()" class="button-submit mt-3 bg-dark text-white" [disabled]="form.invalid">CREATE AN ACCOUNT
    </button>
   </div>
   <div>
    <button class="button-submit last bg-dark text-white mt-2" [routerLink]="['/auth/sign-in']" routerLinkActive="router-link-active" >LOG IN
    </button>
    </div>
  </form>
</mat-card>
</div>
